<header>
    <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Blog de Viajes</li>
            <li><a href="#">Iniciar Sesion</a></li>
            <li><a href="#">Registrarse</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a>Inicio</a></li>
            <li><a>Autores</a></li>
          </ul>
        </div>
      </div>
</header>