<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper teal darken-4">
      <a href="" class="brand-logo"><img src="assets/logo.png" class="logo-barra"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/registro" >Registrarse <i class="medium material-icons left ">account_box</i></a> </li>
        <li><a href="">Iniciar Sesion <i class="medium material-icons left ">input</i></a></li>
        <li><a href="">Autores<i class="medium material-icons left "">person</i></a></li>
        <li><a href="">Inicio<i class="medium material-icons left ">home</i></a></li>
      </ul>
    </div>
  </nav>
</div>

  <ul class="sidenav " id="mobile-demo">
    <li><a href="" class="teal-text text-darken-4">Registrarse <i class="medium material-icons left teal-text text-darken-4">account_box</i></a> </li>
    <li><a href=""class="teal-text text-darken-4">Iniciar Sesion <i class="medium material-icons left teal-text text-darken-4">input</i></a></li>
    <li><a href=""class="teal-text text-darken-4">Autores<i class="medium material-icons left teal-text text-darken-4">person</i></a></li>
    <li><a href=""class="teal-text text-darken-4">Inicio<i class="medium material-icons left teal-text text-darken-4">home</i></a></li>
  </ul>
