<header>
  <nav>
    <div class="nav-wrapper cyan darken-4">
      <a href="#" class="brand-logo center"><img src="/assets/logo.png" alt="" id="logo" class="circle"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" class="waves-effect waves-light btn-large">Registro<i class="right large material-icons">add</i></a></li>
        <li><a href="" class="waves-effect waves-light btn-large">Iniciar Sesion<i class="right large material-icons">account_circle</i></a></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <li><a href="" class="waves-effect waves-light btn-large">Inicio <i class="right large material-icons">home</i></a></li>
        <li><a href="" class="waves-effect waves-light btn-large">Autores<i class="right large material-icons"> assignment_ind</i></a></li>
      </ul>
    </div>
  </nav>
 
  <ul class="sidenav" id="mobile-demo">
    <li><a href="">Registro</a></li>
    <li><a href="">Iniciar Sesion</a></li>
    <li><a href="">Inicio</a></li>
    <li><a href="">Autores</a></li>
  </ul>
          
</header>