<footer class="page-footer teal darken-4 ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Me voy de Viaje</h5>
          <p class="grey-text text-lighten-4">Blog de Viajes - Comparte tu experiencia -</p>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Derechos Reservados
      </div>
    </div>
  </footer>