.logo-barra{
    width: 8rem;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
  }
.titulo{
    font-family: 'Akaya Telivigala', cursive;
}

body{
    background-image: url('/assets/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
      